In [1]:
! pip install -q pandas
import pandas as pd

# Loading labeled data and general dataset

In [6]:
labeled_court_cases = pd.read_parquet('data/court_cases_labeled.parquet')
labeled_court_cases.head(2)

,address_count,address_occurrences,annotation_id,annotator,grammatical_case_labels,created_at,grammatical_gender_labels,id,information_labels,information_count,information_occurrences,lead_time,number_labels,number_count,number_occurrences,person_count,person_occurrences,sum_of_unique_entities,text,updated_at
0,1,"[{'end': 1852, 'start': 1844, 'text': 'АДРЕСА_...",51,1,"[{""end"":313,""text"":""ОСОБА_1"",""start"":306,""labe...",2025-04-05T21:17:35.092054Z,"[{""end"":313,""text"":""ОСОБА_1"",""start"":306,""labe...",121957732,"[{""end"":276,""text"":""ІНФОРМАЦІЯ_1"",""start"":264,...",6,"[{'end': 276, 'start': 264, 'text': 'ІНФОРМАЦІ...",180.598,"[{""end"":1824,""text"":""НОМЕР_1"",""start"":1817,""la...",1,"[{'end': 1824, 'start': 1817, 'text': 'НОМЕР_1'}]",1,"[{'end': 313, 'start': 306, 'text': 'ОСОБА_1'}]",4,УХВАЛА\n23 вересня 2024 року\nм. Київ\nсправа ...,2025-04-05T21:17:35.092073Z
1,2,"[{'end': 1342, 'start': 1334, 'text': 'АДРЕСА_...",58,1,"[{""end"":626,""text"":""ОСОБА_1"",""start"":619,""labe...",2025-04-05T23:09:49.100238Z,"[{""end"":626,""text"":""ОСОБА_1"",""start"":619,""labe...",124028233,"[{""end"":1970,""text"":""ІНФОРМАЦІЯ_1"",""start"":195...",1,"[{'end': 1970, 'start': 1958, 'text': 'ІНФОРМА...",168.785,"[{""end"":1359,""text"":""НОМЕР_1"",""start"":1352,""la...",2,"[{'end': 1359, 'start': 1352, 'text': 'НОМЕР_1...",8,"[{'end': 283, 'start': 276, 'text': 'ОСОБА_1'}...",4,УХВАЛА\n23 грудня 2024 року\nм. Київ\nсправа №...,2025-04-05T23:09:49.100258Z

In [10]:
all_court_cases = pd.read_parquet('data/2024-supreme-court-decisions-deduplicated.parquet')
all_court_cases.head(2)

,id,text,number_count,information_count,person_count,address_count,sum_of_unique_entities,number_occurrences,information_occurrences,person_occurrences,address_occurrences
3,116075957,УХВАЛА\n30 листопада 2023 року\nм. Київ\nсправ...,6,0,8,0,2,"[{'end': 3378, 'start': 3371, 'text': 'НОМЕР_1...",[],"[{'end': 511, 'start': 504, 'text': 'ОСОБА_1'}...",[]
7,116075961,УХВАЛА\n30 листопада 2023 року\nм. Київ\nсправ...,0,0,19,7,2,[],[],"[{'end': 307, 'start': 300, 'text': 'ОСОБА_1'}...","[{'end': 957, 'start': 949, 'text': 'АДРЕСА_1'..."

In [26]:
# ensure all columns are strings
labeled_court_cases = labeled_court_cases.astype(str)
all_court_cases = all_court_cases.astype(str)
# merge the two datasets
merged_data = pd.merge(labeled_court_cases, all_court_cases, on='id', how='inner')

print("There are " + str(len(merged_data)) + " documents that are present in both the labeled and unlabeled datasets.")
print("Removing documents from unlabeled dataset that are present in the labeled dataset to avoid data leakage...")

all_court_cases = all_court_cases[~all_court_cases['id'].isin(labeled_court_cases['id'])]

print("Done! Verifying once again...")

merged_data = pd.merge(labeled_court_cases, all_court_cases, on='id', how='inner')
print(f"There are {len(merged_data)} documents that are present in both the labeled and unlabeled datasets.")
print(f"Length of unlabeled dataset: {len(all_court_cases)}")
print(f"Length of labeled dataset: {len(labeled_court_cases)}")

There are 0 documents that are present in both the labeled and unlabeled datasets.
Removing documents from unlabeled dataset that are present in the labeled dataset to avoid data leakage...
Done! Verifying once again...
There are 0 documents that are present in both the labeled and unlabeled datasets.
Length of unlabeled dataset: 5117
Length of labeled dataset: 60